<!DOCTYPE html>
<html>
<head>
    {{>metas}}

    <title>Cartisan | Commerce</title>

    {{>css}}

</head>
<body>

<!-- Skin configuration box -->
<!--{{>skinConfig}}-->

<!-- Wrapper-->
<!-- PageClass give you ability to specify custom style for specific view based on action -->
<div id="wrapper" class="{{pageClass}}">

    <!-- Navigation -->
    {{>navigation}}

    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg {{specialClass}}">

        <!-- Top Navbar -->
        {{>topNavbar1}}

        <!-- Main view  -->
        {{>content}}

        <!-- Footer -->
        {{>footer}}

    </div>
    <!-- End page wrapper-->

    <!-- Right Sidebar -->
    {{>rightSidebar}}

</div>
<!-- End wrapper-->

<!-- Section for main scripts render -->
{{>scripts}}

<!-- Handler for local scripts -->
</body>
</html>
