<!-- Section for main scripts render -->
<script type="text/javascript" src="/scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="/scripts/plugins/metisMenu/metisMenu.min.js"></script>
<script type="text/javascript" src="/scripts/plugins/pace/pace.min.js"></script>
<script type="text/javascript" src="/scripts/app/inspinia.js"></script>

<!-- Skin config script - only for demo purpose-->
<!--<script type="text/javascript" src="/scripts/app/skin.config.min.js"></script>-->